{% load static %}


  <!-- Quick view modal-->
  <div class="modal modal-quick-view fade" id="quick-view" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div>
            <h2 class="h3 modal-title mb-1">Reebok Classic - Sneakers CL Leather</h2>
            <h3 class="text-primary font-weight-light mb-0">${{ item.get_price }}</h3>
            <h2 class="h3 font-weight-light pt-3 pb-2">
              {% if object.get_discount %}
                <del class="lead text-muted mr-2">${{ object.get_price }}</del><span class="text-primary">${{ object.get_discounted_price }}</span>
              {% else %}
                ${{ object.get_price }}
              {% endif %}
            </h2>
          </div>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!-- Product gallery-->
            <div class="col-lg-7">
              <div class="owl-carousel" data-owl-carousel="{ &quot;nav&quot;: true, &quot;dots&quot;: false, &quot;loop&quot;: true, &quot;margin&quot;: 15 }"><img src="{% static '/dist/img/shop/apparel/single/01.jpg' %}" alt="Product"><img src="{% static '/dist/img/shop/apparel/single/02.jpg' %}" alt="Product"><img src="{% static '/dist/img/shop/apparel/single/03.jpg' %}" alt="Product"><img src="{% static '/dist/img/shop/apparel/single/04.jpg' %}" alt="Product"><img src="{% static '/dist/img/shop/apparel/single/05.jpg' %}" alt="Product"></div>
            </div>
            <!-- Product details-->
            <div class="col-lg-5 pt-4 pt-lg-0">
              <form class="pb-4">
                <div class="form-group">
                  <label class="d-block">Choose color</label>
                  <div class="custom-control custom-option custom-control-inline mb-2">
                    <input class="custom-control-input" type="radio" name="color" value="dark" id="dark" required>
                    <label class="custom-option-label" for="dark"><span class="custom-option-color" style="background-color: #2c363f;"></span></label>
                  </div>
                  <div class="custom-control custom-option custom-control-inline mb-2">
                    <input class="custom-control-input" type="radio" name="color" value="red" id="red" required>
                    <label class="custom-option-label" for="red"><span class="custom-option-color" style="background-color: #e7484d;"></span></label>
                  </div>
                  <div class="custom-control custom-option custom-control-inline mb-2">
                    <input class="custom-control-input" type="radio" name="color" value="white" id="white" required>
                    <label class="custom-option-label" for="white"><span class="custom-option-color" style="background-color: #e0dfe4;"></span></label>
                  </div>
                  <div class="custom-control custom-option custom-control-inline mb-2">
                    <input class="custom-control-input" type="radio" name="color" value="beige" id="beige" required>
                    <label class="custom-option-label" for="beige"><span class="custom-option-color" style="background-color: #e6ddd6;"></span></label>
                  </div>
                </div>
                <div class="form-group">
                  <select class="form-control custom-select" id="size" name="size" required>
                    <option value>- Select a size</option>
                    <option value="13">13</option>
                    <option value="12">12</option>
                    <option value="11.5">11.5</option>
                    <option value="11">11</option>
                    <option value="10.5">10.5</option>
                    <option value="10">10</option>
                    <option value="9.5">9.5</option>
                    <option value="9">9</option>
                    <option value="8.5">8.5</option>
                    <option value="8">8</option>
                    <option value="7.5">7.5</option>
                  </select>
                </div>
                <div class="d-flex flex-wrap align-items-center pt-1">
                  <div>
                    <input class="px-2 form-control mr-2" type="number" name="quantity" style="width: 3.2rem;" value="1" required>
                  </div>
                  <div>
                    <button class="btn btn-primary px-5 mr-2" type="submit"><i class="mr-2" data-feather="shopping-cart"></i>Add to cart</button>
                  </div><a class="btn box-shadow-0 nav-link-inline my-2" href="#"><i class="align-middle mr-1" data-feather="heart" style="width: 1.1rem; height: 1.1rem;"></i>Wishlist</a>
                </div>
              </form>
              <div class="card">
                <div class="card-header py-3 bg-0">
                  <h3 class="h6 mb-0"><span class="d-inline-block pr-2 border-right mr-2 align-middle mt-n1"><i data-feather="info" style="width: 1.1rem; height: 1.1rem;"></i></span>Product information</h3>
                </div>
                <div class="card-body">
                  <ul class="mb-0">
                    <li>SKU: #8893249956</li>
                    <li>Sneakers from Reebok Classic collection</li>
                    <li>Man-made upper</li>
                    <li>Lace-up closure</li>
                    <li>Brand logo detail hits throughout</li>
                    <li>Soft fabric lining and footbed</li>
                    <li>Rubber outsole</li>
                    <li>Product measurements were taken using size 8</li>
                    <li>Weight of footwear is based on a single item</li>
                    <li>Weight: 9 oz</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
