{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="justify-content-center my-4">
  <div class="col-md-6 mx-auto">
    <h3 class="h3 font-weight-semibold" id="head_banner">{% trans "Sign Out" %}</h3>
    <p class="confirm_logout_info">{% trans 'Are you sure you want to sign out?' %}</p>
    <form class="" id="logout_form" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}    
      <button  class="btn btn-outline-danger" type="submit">{% trans 'Sign Out' %}</button>
      <a class="btn btn-outline-success" id="custom_logout_no" href="/">{% trans 'No' %}</a>
    </form>
  </div>
</div>
{% endblock %}
