
{% load i18n %}

{% if request.user.is_authenticated %}
<div id="a/ddreview" class="review_add">
<form id="leaveReview" action="#addreview" method="post" enctype="multipart/form-data" class="needs-validation modal fade" tabindex="-1" novalidate>
  {% csrf_token %}
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Leave a review</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>                

      {% include 'oscar/partials/form_field.html' with field=form.title %}

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="id_title" class="required">Subject</label>
              <input class="form-control" type="text" id="id_title" name="title" maxlength="255" required>
              <div class="invalid-feedback">Please enter review subject!</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="reviewrating form-group {% if form.score.errors %}error{% endif %}">
              <label for="id_score">Rating</label>
              <div class="controls">
                {{ form.score }}
                <div class="star-rating {% if form.score.value == '1' %}One{% elif form.score.value == '2' %}Two{% elif form.score.value == '3' %}Three{% elif form.score.value == '4' %}Four{% elif form.score.value == '5' %}Five{% endif %}">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

                {% for error in form.score.errors %}
                    <span class="error-block"><i class="fas fa-exclamation"></i>{{ error }}</span>
                {% endfor %}
              </div>
                    {% comment %}
                    {% include 'oscar/partials/form_field.html' with field=form.score %}
                    {% endcomment %}
              <div class="invalid-feedback">Please choose from 1 to 5!</div>
            </div>

            {% include 'oscar/partials/form_field.html' with field=form.body %}
            {% if form.name %}
                {% include 'oscar/partials/form_field.html' with field=form.name %}
            {% endif %}
            {% if form.email %}
                {% include 'oscar/partials/form_field.html' with field=form.email %}
            {% endif %}
          </div>
        </div>
        <div class="form-group">
          <label for="id_body">Review</label>
          <textarea class="form-control" id="id_body" name="body" rows="8" required></textarea>
          <div class="invalid-feedback">Please enter review message!</div>
        </div>
      </div>

      <div class="modal-footer">
        <p class="text-danger mt-3">You will not be allowed to edit or delete after submitted!</p>
        <button type="submit" class="btn btn-primary" data-loading-text="{% trans 'Saving...' %}">
        {% trans "Submit review" %}</button>
      </div>
    </div>
  </div>
</form>
</div>
{% endif %}
