{% extends "oscar/checkout/layout.html" %}
{% load currency_filters %}
{% load i18n %}
{% load image_tags %}
{% load purchase_info_tags %}

{% block title %}
    {% trans "Checkout" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'oscar/checkout/nav.html' %}
{% endblock %}

{% block checkout_layout %}
    
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="order-preview shipping-payment my-4">
        {% block shipping_address %}
            <div class="row">
                {% if shipping_address %}
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="font-weight-semibold">{% trans "Address" %}</h5>
                            </div>
                            <div class="card-body">
                                <h3 class="h6 font-weight-semibold">
                                  {% block shipping_address_actions %}
                                    <a href="{% url 'checkout:shipping-address' %}" class="float-right">
                                        {% trans "Change" %}
                                    </a>
                                {% endblock %}</h3>
                                <address>
                                    {% for field in shipping_address.active_address_fields %}
                                        {{ field }}<br/>
                                    {% endfor %}
                                </address>

                                {% if shipping_address.phone_number %}
                                    <h4>{% trans "Contact" %}</h4>
                                    <p>
                                        {% trans "Phone" %}: {{ shipping_address.phone_number }}
                                        {% if guest_email %}
                                            <br/>{% trans "Email" %}: {{ guest_email }}
                                        {% endif %}
                                    </p>
                                {% endif %}

                                {% if shipping_address.notes %}
                                    <h4>{% trans "Instructions" %}</h4>
                                    <p>{{ shipping_address.notes|linebreaks }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if shipping_method %}
                <div class="col-sm-6">
                    <div class="card">                                
                        <div class="card-header">
                            <h5 class="font-weight-semibold">{% trans "Shipping method" %}</h5>
                        </div>
                        <div class="card-body bg-light-info">
                            <h3 class="h6 font-weight-semibold">
                              {% block shipping_method_actions %}
                                <a href="{% url 'checkout:shipping-method' %}" class="float-right">
                                    {% trans "Change" %}
                                </a>
                              {% endblock %}
                            </h3>
                            <p>{{ shipping_method.name }}
                                {% if shipping_method.description %}
                                    - {{ shipping_method.description|safe }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        {% endblock shipping_address %}


        {# You will almost certainly want to override this block to provide a payment summary #}
        {% block payment_method %}
        <div class="row">
            <div class="col-sm-6 mt-4">
                <div class="card">
                    <div class="card-header sub-header">
                        <h5 class="font-weight-semibold">{% trans "Payment" %}</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="h6 font-weight-semibold">
                          <a href="{% url 'checkout:payment-details' %}" class="float-right">
                            {% trans "Change" %}
                          </a>
                        </h3>
                        <p>{% trans "Payment details to go here" %}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock payment_method %}
    </div>


    {% block order_contents %}
        <div class="sub-header">
            {% block order_contents_actions %}
                <a href="{% url 'basket:summary' %}" class="float-right text-warning">
                    <i data-feather="edit" class="mr-2"></i>{% trans "Edit order contents" %}
                </a>
            {% endblock %}
            <h2 class="h3 font-weight-semibold">{% trans "Order contents" %}</h2>
        </div>

        <div class="order-preview-content">
            <table class="table table-bordered">
                <thead class="basket-title">
                    <tr class="">
                        <th>{% trans "Item" %}</th>
                        <th>{% trans "Qty" %}</th>
                        <th>{% trans "Total" %}</th>
                    </tr>
                </thead>
                <tbody class="">
                {% for line in basket.all_lines %}
                    <tr class="basket-items table-warning">
                        {% purchase_info_for_line request line as session %}
                    
                        <td class="">
                            <div class="media">
                                <div class="row">
                                    <div class="image_container w/-100 mr-3 pl-1">
                                        {% with image=line.product.primary_image %}
                                            {% oscar_thumbnail image.original "100x100" upscale=False as thumb %}
                                            <a href="{{ form.instance.product.get_absolute_url }}">
                                                <img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="i/mg-thumbnail w-auto mx-auto my-0">
                                            </a>
                                        {% endwith %}
                                    </div>                           
                                    <div class="pl-1 media-body">
                                        <h3 class="h5 font-weight-semibold"><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                                        <span class="availability {{ session.availability.code }}">{{ session.availability.message }}</span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            {{ line.quantity }}
                        </td>
                        <td class="">
                            <p class="price_color">
                                {% if not show_tax_separately and line.is_tax_known %}
                                    {{ line.line_price_incl_tax|currency:basket.currency }}
                                {% else %}
                                    {{ line.line_price_excl_tax|currency:basket.currency }}
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% block basket_totals %}
        <div class="row">
            <div class="col-sm-6">
                <h3 class="h6 d-flex flex-wrap justify-content-between py-2 f/loat-right">
                    <a class="font-size-sm text-success" href="/"><i data-feather="chevron-left" style="width: 1rem; height: 1rem;"></i>Continue shopping</a>
                </h3>
            </div>
            <div class="col-sm-6">
                {% include 'oscar/basket/partials/basket_totals.html' %}
            </div>
        </div>
        {% endblock basket_totals %}

    {% endblock order_contents %}


    {% block shipping_method %}
    {% endblock shipping_method %}

    {% block payment_details %}
    {% endblock payment_details %}

    {% block place_order %}
    {% endblock place_order %}

{% endblock checkout_layout %}
