{% extends "oscar/layout.html" %}
{% load i18n %}
{% load category_tags %}

{% block content %}

    {% block checkout_nav %}{% endblock %}
    
    <h2 class="h3 font-weight-semibold my-4">{% block checkout_title %}{% endblock %}</h2>
    
    {% block checkout_layout %}  

    <!-- The main nav on checkout pages contain links to modal flatpages -->
    {% block modal %}
        {% load flatpages %}
        {% get_flatpages '/order/' as flatpages %}
        {% for page in flatpages %}
        <div id="{{ page.title|slugify }}" class="modal hide fade">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>{{ page.title }}</h3>
            </div>
            <div class="modal-body">
                <div class="large-content">
                    {{ page.content|safe }}
                </div>
            </div>
        </div>
        {% endfor %}
    {% endblock %}
 
    {% endblock checkout_layout %}

{% endblock %}
